<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prototype_Adevon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>392CDC741C6E0A500099E53D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392CDC8B1C6E0A500099E53D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392CDC961C6E0A510099E53D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
